.navbar {
    background: black;
    align-content: center;
    min-height: 70px;
    position: fixed;
}

.navbar li {
    align-content: center;
    text-align: center;
    background: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.header {
    align-content: center;
}

.header h1 h2{
    text-align: center;
    background: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 70px;
}

h1,h2 {
    text-align: center;
    background: black;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 10px;

}

li {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

.brand {
    text-align: center;
    background: black;
    font-size: large;
   
}